@import "./variables";


.cmp-dashboard {
    display: grid;
    grid-template-columns: 1;
    margin: 1rem 0rem;

    @media (min-width: $desktop-screeen-tablet) {
        margin: 0rem 0rem;
        grid-template-columns: 1fr 5fr;
    }

    &__sidebar {
        background-color: $side-bar-background;
        color: $color-text;
        padding: 1rem;
        display: none;


        @media (min-width: $desktop-screeen-tablet) {
            display: inline-block;
            grid-column: 1 / 2;
            grid-row: 1 / span 2;
            font-size: 1rem;
        }


        ul {
            list-style: none;
        }

        &-title {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        &-pages {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-weight: bolder;

            li {
                display: flex;
                gap: 1rem;
            }

            .sidebar-pages {
                &__settings {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    font-weight: bolder;
                }
            }
        }
    }

    &__banner {
        &-search {
            display: flex;
            margin-top: 2rem;
            padding: 1rem;

            @media (min-width: $desktop-screeen-tablet) {
                display: grid;
                grid-template-columns: 0.2fr 3fr 1fr;
                justify-content: center;
                justify-items: center;
                align-items: center;
                margin-top: 0.5rem;
                padding: 0;
                gap: 0.5rem;
            }

            :nth-child(1) {
                font-size: 2rem;
                justify-self: end;
            }

            :nth-child(2) {
                width: 50%;
                border: none;
                justify-self: start;
                border-radius: 0.5rem;
                background-color: $main-background;


                @media (min-width: $desktop-screeen-tablet) {
                    width: 80%;
                    height: 2rem;
                }
            }


            .banner-search__info {
                display: flex;
                gap: 2rem;
                align-items: center;
                justify-self: start;

                :nth-child(2) {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

        &-user {
            display: grid;
            text-align: center;
            justify-content: center;
            align-items: center;


            @media (min-width: $desktop-screeen-tablet) {
                text-align: left;
                grid-template-columns: 0.5fr 3fr 2fr;
                margin-top: 1rem;
            }

            img:nth-child(1) {
                width: 50px;
                height: 50px;
                justify-self: center;
                border-radius: 50%;
            }

            .banner-user {
                &__info {
                    h5 {
                        font-size: 1.5rem;
                    }
                }

                &__actions {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 2rem;
                    padding: 1rem;

                    @media (min-width: $desktop-screeen-tablet) {}

                    button {
                        border-radius: 40rem;
                        background-color: $action-background;
                        border: none;
                        padding: 0.5rem 1rem;
                        color: $color-text;
                        font-size: 1.5rem;


                        @media (min-width: $desktop-screeen-tablet) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    &__main {
        display: grid;
        grid-column: 1fr;
        background-color: $main-background;

        @media (min-width: $desktop-screeen-tablet) {
            grid-template-columns: 3fr 1.2fr;
        }

        &-projects {

            @media (min-width: $desktop-screeen-tablet) {
                grid-column: 1 / 2;
                grid-row: 1 / span 4;
            }

            .main-projects {

                &__title {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                &__cards {
                    display: grid;
                    grid-auto-rows: 12rem;
                    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
                    gap: 1rem;
                    margin: 0 1rem;


                    &-card {
                        background-color: $color-card;
                        border-radius: 0.5rem;
                        border-left: 0.4rem solid $cards-border-left;
                        padding: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        .cards-card {

                            &__actions {
                                align-self: flex-end;
                                display: flex;
                                gap: 1rem;
                                position: absolute;
                                top: 9rem;
                            }
                        }
                    }
                }
            }
        }


        &-announcements {

            @media (min-width: $desktop-screeen-tablet) {
                grid-column: 2 / 3;
                margin-top: 1rem;
                margin-right: 1rem;
            }

            .main-announcements {
                &__title {
                    margin-top: 1rem;
                    margin-left: 1rem;

                    @media (min-width: $desktop-screeen-tablet) {
                        margin-top: 0rem;
                        margin-left: 0rem;
                    }
                }

                &__container {
                    display: grid;
                    background-color: $color-card;
                    padding: 2rem;

                    div:not(:last-child)::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0.1rem;
                        margin-top: 1rem;
                        background-color: $line-color;
                    }
                }
            }
        }

        &-trending {

            @media (min-width: $desktop-screeen-tablet) {
                grid-column: 2 / 3;
                margin-right: 1rem;
                margin-top: 1rem;
            }


            .main-trending {
                &__title {
                    margin-top: 1rem;
                    margin-left: 1rem;

                    @media (min-width: $desktop-screeen-tablet) {
                        margin-top: 0rem;
                        margin-left: 0rem;
                    }
                }

                &__container {
                    background-color: $color-card;
                    border-radius: 0.5rem;
                    display: grid;
                    gap: 1rem;
                    padding: 1rem;

                    &-card {
                        display: grid;
                        grid-template-columns: 1fr 2fr;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            grid-column: 1 / 2;
                            grid-row: 1 / span 2;
                            justify-self: center;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
